#solution button.sorted-by-age {
    background: red;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    font-weight: bold;
    cursor: pointer;
    padding: .5em 1em;
    min-width: 10em;
    user-select: none;
    outline: none;
    margin-bottom: 1em;
}

#solution button.sorted-by-age.active {
    background: green;
}

#solution button.sorted-by-age:hover {
    color: rgba(255, 255, 255, 0.85);
}

#solution #users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

@media only screen and (max-width: 1000px) {
    #solution #users {
        flex-direction: column;
    }
}