#solution .user {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 11em;
    min-height: 11em;
    background: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    padding: 1em;
}

#solution .user.checked {
    background: rgba(0, 128, 0, 0.2);
}

#solution .user input {
    cursor: pointer;
    margin: 0;
}

#solution .user label {
    cursor: pointer;
    padding-left: .3em;
    user-select: none;
}

@media only screen and (max-width: 1000px) {
    #solution .user {
        flex-direction: row;
        min-width: unset;
        min-height: unset;
        align-items: center;
        padding: .5em;
        gap: .5em;
    }
}